.siteName {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}

.sceneButtons {
    display: flex;
    justify-content: center;
}